/**
 * Stylesheet for calculator related tweaks.
 *
 * Loaded on the calculator edit form and on calculator view page.
 */

fieldset.group-grades h2 {
  margin-top: 20px;
}
fieldset.group-grades input.form-submit {
  clear: both;
  margin-top: 10px;
  display: block;
}