table#field_scale_scale_values {
  width: auto;
}

table#field_scale_scale_values div {
  float: left;
}

table#field_scale_scale_values label {
  color: #999;
  font-weight: normal;
}
table#field_scale_scale_values .form-item {
  width: auto;
  clear: none;
}
